<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="" defer></script>
  <link rel="stylesheet" href="">
  <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">
      {% for msg in messages %}
        <div>{{msg}}</div>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  {% block content %}
  {% endblock %}
</body>
</html>